@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lora|Muli:400,600,700,700i');


html {
  box-sizing: border-box;
}

*,*:before, *:after {
  box-sizing: inherit;
}

img,video {
  width: auto;
  height: auto;
  max-width: 100%;
}

body {
  background-color: #fff;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #333;
  margin: 0;

}


.article-title {
  font-family: "Muli", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

p {
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.8;
}


.article-text {
  margin-left: 4em;
  margin-right: 4em;
}

#back-to-article {
  text-align: center;
  font-family: "Muli", sans-serif;

}

 a {
  font-weight: 600;
  text-decoration: none;
  color: #fd5c63;
}

#copyright {
  color: #333;
  font-family: "Muli", sans-serif;
  text-align: center;
}
