@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lora|Muli:400,600,700,700i');


html {
  box-sizing: border-box;
}

*,*:before, *:after {
  box-sizing: inherit;
}

img,video {
  width: auto;
  height: auto;
  max-width: 100%;
}

body {
  background-color: #fff;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #333;
  margin: 0;

}


.article_title {
  font-family: "Muli", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

p {
  font-family: "Lora";
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.8;
}


.article_text {
  margin: auto;
}

.story {
  font-family: "Lora", serif;
  font-size: 1.2rem;
}

#back-to-article {
  text-align: center;
  font-family: "Muli", sans-serif;

}

 a {
  font-weight: 400;
  text-decoration: none;
  color: #f0932b;
}

#copyright {
  color: #333;
  font-family: "Muli", sans-serif;
  text-align: center;
}

/* Article grid */
@supports (grid-area: auto) {
.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

} // @suports end

@media (max-width: 600px) {
  .articles {
    grid-template-columns: 1fr;
  }
}
