@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lora|Muli:400,600,700,700i');
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import 'articles';
@import 'nav';
@import 'animate.min';
@import 'normalized-reset';
@import 'map';

html {
  box-sizing: border-box;
}

*,*:before, *:after {
  box-sizing: inherit;
}

img,video {
  width: auto;
  height: auto;
  max-width: 100%;
}

body {
  background-color: #fff;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #333;
  margin: 0;

}

.section-title {
  font-family: "Muli", sans-serif;
  color: #333;
  font-style: 700px;
  font-size: 1.8rem;
}

h3 {
  font-family: "Muli", sans-serif;
  color: #333;
  font-style: 700px;
  font-size: 1.2rem;

}

h3 a {
  text-decoration: none;
  color: #f0932b;
}

p {
  font-family: "Muli", sans-serif;
  color: #333;
}



#logo {
  margin-left: .8rem;
  font-family: "Staatliches";
  font-size: 1.4rem;
  font-weight: 400;
  color: #f0932b;
}

#copyright {
  color: #333;
  font-family: "Muli", sans-serif;
  text-align: center;
}

/* *** Hero Video *** */

  .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
  }

  .no-video .video-container video,
  .touch .video-container video {
    display: none;
  }

  .no-video .video-container .poster,
  .touch .video-container .poster {
    display: block !important;
  }

  .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
  }

  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
  }

  .video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
  }

  .video-container video.fillWidth {
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #subtitle {
    color: white;
    font-family: "Poppins";
    font-size: 5.6rem;
    font-weight: 600;
    text-align: center;

  }

  span {
    font-family: "Staatliches";
    font-size: 1.4rem;
    font-weight: 400;
    color: #f0932b;
  }

  .about-desc {
    float: right;
  }

  #about_text {
    font-family: "Lora", serif;
    font-size: 1.2rem;

  }

  .article_thumbnail {
    color: #333;
    font-family: "Poppins";
    font-weight: 700;
    text-transform: uppercase;

  }

  .credit {
    color: gray;
    margin: 0;
  }

  /* About grid */
  @supports (grid-area: auto) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }

}

@media (max-width: 600px) {
    .about {
      grid-template-columns: 1fr;
    }
  }
